In [12]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\IIITK2\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [3]:
import numpy as np

In [6]:
with open('a1.txt', 'r') as file:
    data1 = file.read().replace('\n', '')

In [7]:
with open('a2.txt', 'r') as file:
    data2 = file.read().replace('\n', '')

In [20]:
with open('a3.txt', 'r') as file:
    data3 = file.read().replace('\n', '')

In [21]:
tokens3 = nltk.word_tokenize(data3)

In [16]:
tokens1 = nltk.word_tokenize(data1)

In [18]:
tokens2 = nltk.word_tokenize(data2)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [22]:
documents = [data1, data2, data3]

In [23]:
count_vectorizer = CountVectorizer(stop_words='english')
count_vectorizer = CountVectorizer()
sparse_matrix = count_vectorizer.fit_transform(documents)

In [24]:
doc_term_matrix = sparse_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=count_vectorizer.get_feature_names(), 
                  index=['data1', 'data2', 'data3'])
df

,000,1971,1991,200,2008,24,727,acceptable,actions,after,...,whereabouts,who,wider,with,within,woodland,world,would,years,yet
data1,0,0,0,0,0,0,0,1,1,0,...,0,1,0,2,4,0,1,1,0,1
data2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
data3,1,1,0,1,1,1,1,0,0,2,...,1,1,0,1,1,1,0,0,1,0

In [25]:
from sklearn.metrics.pairwise import cosine_similarity
print(cosine_similarity(df, df))

[[1.         0.50655481 0.42102146]
 [0.50655481 1.         0.53320125]
 [0.42102146 0.53320125 1.        ]]